.calculators__item {
border-radius: 0.5rem; }
.calculators__item:not(:last-child) {margin-bottom: 0.5rem; }
.calculators__item--clicked {
border: 1px solid var(--light-orange); }
        .calculators__calculator {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1.5rem;
        border-radius: 0.5rem; 
        background-color: var(--secondary-color);
        cursor: pointer;
        transition: all var(--main-duration) ease; }
        .calculators__calculator:hover {
        background-color: var(--light-orange);
        color: var(--dark-orange); }
        .calculators__calculator--clicked {
        background-color: var(--light-orange);
        color: var(--dark-orange); }
                .calculators__icon--rotate {
                transform: rotate(90deg) translateX(2px) }
        .calculators__component {
        padding: 0 1.5rem;
        transition: all 0.2s ease;
        max-height: 0;
        overflow: hidden;
        text-align: justify; }
        .calculators__component--show {
        padding: 1.5rem 1.5rem;
        max-height: 600rem; }